@model IEnumerable<AZUL.COM.Models.CustomerServices>

@{
    ViewData["Title"] = "My Services";
    Layout = "~/Views/Shared/CustomerDash_Layout.cshtml";
}

    <table class="table" style="width: 900px;margin-left: 100px;margin-top: 100px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @item.Date.ToLongDateString()
                </td>

            </tr>
            }
        </tbody>
    </table>

