
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/CustomerDash_Layout.cshtml";
}

<h1 class="d-flex justify-content-center" style="margin-top:200px">Your Checkout Done successfully</h1>
<div class="d-flex justify-content-center">
    <img src="~/img/check.png" width="80" height="80" style="margin-top:40px">
</div>

