@model  AZUL.COM.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetById</title>
    <h1>first name</h1>
    <h2>@Model.FName</h2>
    <h1>last name</h1>
    <h2>@Model.LName</h2>

</head>
<body>
</body>
</html>
